
*{
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}

@font-face {
  font-family: 'JetBrains-Mono';
  src: url('fonts/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
}

html,body{
  background: black url(images/fundo.jpg) no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  min-width: 500px;
}

main{
  height: 100vh;
  position: relative;
  font-family: 'JetBrains-Mono', monospace;
}

section#iphone{
  height: 632px;
  width: 309px;
  background: url(images/iphone14.png) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

iframe#screen {
  position: relative;
  top: 21px;
  left: 29px;
  width: 255px;
  height: 589px;
}
* {
  margin: 0px;
  padding: 0px;
}

section#main-titles{

  width: 100%;
  min-width: 270px;
  margin: auto;
  text-align: center;
  display: block;
  position: absolute;
  top: 11%;
  left: 53%;
  transform: translate(-50%, -50%);
}

section#main-titles > h1{
  font-size: 4em;
  text-shadow: 2px 19px 20px rgba(0, 0, 0, 0.63);
}

section.socials > a > img{ 
  width: 100px;
  border-radius: 25%;
  box-sizing: border-box;
  margin: 10px;
  position: absolute;
}

section.socials > a > #home{ 
  top: 85%;
  left: 31%;
}

section.socials > a > #github{ 
  top: 85%;
  left: 42%;
}

section.socials > a > #instagram{ 
  top: 85%;
  left: 53%;
}

section.socials > a > #facebook{ 
  top: 85%;
  left: 64%;
}

footer > p{
  background-color: black;
  font-size: 1.4em;
  text-align: center;
  color: yellow;
  padding: 20px;

}

footer > p > a{
  text-decoration: none;
  color: darkcyan;
}

footer > p > a:hover{
  text-decoration: underline;
  color: white;
}


